* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #5678;
  display: flex;
  background: red;
}
#site {
  background-image: url('https://www.transparenttextures.com/patterns/gray-floral.png');
  background-color: #123456;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
#menu {
  background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085');
  background-size: cover;
  background-position: center;
}
#menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
}
#menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
}
#menu li a i {
  margin-right: 5px;
}
.bloc {
  text-align: center;
  padding: 20px;
}
img {
  max-width: 300px;
  margin-top: 45px;
}
.img bloc{
    display: flex;
    flex-direction: wrap;
}
.cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.carte {
  background-color: #754545;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.colonnes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.colonne {
  background-color: #799046;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.bottom{
   padding: 12px; 
}

#formulaire-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#formulaire-contact input,
#formulaire-contact textarea {
  width: 90%;
  margin: 5px 0;
  padding: 20px;
  font-size: 16px;
}
#formulaire-contact button {
  background-color: #333;
  color: white;
  padding: 10px 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




#footer{
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background: #0d3b66;
  color: black;
  text-align: center;
  text-decoration:justify-content;
  padding: 5px 45px 5px;
  font-size: 5px;
  z-index: 900;
}
#retour-haut {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #444;
  color: #fff;
  padding: 10px 14px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 18px;
}
#retour-haut:hover {
  background: #00cc88;
}
@media screen and (max-width: 768px) {
  #menu ul {
    flex-direction: flex;
    align-items: center;
  }
  .cartes, .colonnes {
    flex-direction: column;
    align-items: center;
  }
}
